<head>
  <link rel="stylesheet" href="<%= asset_path('application.css') %>">
</head>
<div class="post">
<div class="post-comment-like">
 <h2> <%= @post.title  %> #<%= @post.id  %> by <%= @post.author.name  %> </h2>
  <p class="comment-like">
   Comments:<%= @post.comments_counter %> Likes:  <%= @post.likes_counter %>
   </p>

   </div>
     <p>
  <%= @post.text %> 
   </p>
      <button class="page-btn">
        <%= link_to 'Create New Comment', new_user_post_comment_path(@post.author, @post), style: 'color: black; text-decoration: none;' %>
    </button>
     <div class="general-btn">
    <%= form_with model: Like, url: user_post_likes_path(@post.author, @post) do |form| %>
        <%= form.submit 'Like Post' %>
    <% end %>
</div>
   </div>
   <div class="comment">
   <% @post.comments.each do |comment| %>
   <div class="comment-container">
  <p><%= comment.author.name %>-</p>
  <p> <%= comment.text %> </p>
  </div>
<% end %>
</div>